.container {
  width: 100%;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("Images/background-small.webp") no-repeat 70% 50%;
  background-size: cover;
  @media (min-width: 670px) {
    background: url("Images/background.webp") no-repeat 70% 50%;
    background-size: cover;
  }
}

.container > canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

